.buybutton {
  position: fixed;
  bottom: 0;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  transition: 0.5s all ease;
  animation: 0.5s buy-button;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-radius: 25px;
  margin: 0 10px 10px 0;
}

@keyframes buy-button {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.buybutton:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 450px) {
  .buybutton {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .buybutton {
    font-size: 14px;
  }
}
