li {
  list-style-type: none;
}

.categories {
  margin: 10px 0;
}

.categories select {
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 500;
}

.categories__item {
  font-size: 15px;
  background-color: #fff;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 500;
}
