.itemlist {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  column-gap: 10px;
  margin-bottom: 10px;
}

.notfound {
  margin-top: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
}

.notfound h1 {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.notfound h1:first-child {
  margin-bottom: 10px;
}

.itemlist a {
  text-decoration: none;
}

.itemlist .link__wrapper {
  display: flex;
  justify-content: center;
}

.main__itemlist {
  text-align: center;
}

.main__itemlist p {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  background-color: #fff;
  padding: 6px 0;
  border-radius: 10px;
}

@media (max-width: 450px) {
  .main__itemlist p {
    font-size: 18px;
  }
  .notfound h1 {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .main__itemlist p {
    font-size: 16px;
  }
  .notfound h1 {
    font-size: 12px;
  }
}
