.item {
  background-color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 13px 0;
  border-radius: 20px;
}

.item .wrapper {
  padding-bottom: 45px;
  position: relative;
}

.item .image__wrapper {
  width: 175px;
  height: 175px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__wrapper .loader {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-radius: 50%;
  border-top-color: rgb(146, 192, 57);
  animation: 1s spin infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.item img {
  position: absolute;
  height: 100%;
  z-index: 100;
  opacity: 0;
  transition: 1s ease;
}

.item img.active {
  opacity: 1;
}

.item .title {
  text-align: center;
  font-size: 14px;
  margin-bottom: 12px;
  max-width: 200px;
}

.item .composition {
  max-width: 250px;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  animation: composition 1s;
  max-width: 150px;
}

@keyframes composition {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.price {
  display: flex;
  padding: 4px 10px;
  background: rgb(199, 202, 190);
  color: #000;
  border: 0;
  border-radius: 20px;
  transition: 0.5s all ease;
  user-select: none;
  font-size: 14px;
  align-items: center;
  font-weight: 500;
}

.price__sirop {
  padding: 3px 10px;
}

.price.active {
  background-color: rgb(146, 192, 57);
  color: #fff;
}

.price__minus {
  display: inline;
  cursor: pointer;
  margin-right: 7px;
}

.price__plus {
  display: inline;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.price__plus__img {
  margin-left: 5px;
}

.item .count__block {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 27px;
  animation: count 1s;
}

@keyframes count {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-height: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.sugar__choice {
  animation: 1s composition;
}

.size__block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.sugarsirop__block {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  margin-top: 10px;
}

.sugar__block__title {
  transition: 0.5s all ease;
  display: inline-block;
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.sugar__block__title.active {
  background-color: #000;
  color: #fff;
}

.composition__block {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}

.composition__block button {
  border: 0;
  outline: none;
  background-color: #ffffff;
  color: #000;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.5s all ease;
  cursor: pointer;
}

.composition__block a {
  transition: 0.5s all ease;
  display: inline-block;
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  font-size: 14px;
}

.composition__block a.active {
  background-color: #000;
  color: #fff;
}

.composition__block button.active {
  background-color: #000;
  color: #fff;
}

.size__block a {
  transition: 0.5s all ease;
  display: inline-block;
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  font-size: 14px;
}

.size__block a.double__size__1 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.size__block a.double__size__2 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.size__block a.triple__size__1 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.size__block a.triple__size__2 {
  border-radius: 0;
}

.size__block a.triple__size__3 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.size__block a.active {
  background-color: #000;
  color: #fff;
}

@media (max-width: 450px) {
  .item {
    padding: 15px 0;
  }

  .sugarsirop__block {
    column-gap: 10px;
  }

  .item .wrapper {
    padding-bottom: 40px;
  }

  .item .image__wrapper {
    width: 150px;
    height: 150px;
  }

  .item .title {
    font-size: 12px;
  }

  .composition__block {
    margin-bottom: 8px;
  }

  .composition__block button {
    font-size: 12px;
  }

  .composition__block a {
    font-size: 12px;
  }

  .item .composition {
    font-size: 10px;
  }

  .item .price {
    font-size: 13px;
  }

  .item .count__block {
    font-size: 24px;
  }

  .size__block a {
    font-size: 12px;
  }

  .sugar__block__title {
    font-size: 12px;
  }

  .item .price__plus__img {
    width: 13px;
    height: 13px;
  }
}

@media (max-width: 400px) {
  .item .image__wrapper {
    width: 140px;
    height: 140px;
  }

  .item .wrapper {
    padding-bottom: 35px;
  }

  .item .bottom {
    margin-top: 15px;
  }

  .item .title {
    font-size: 10px;
  }

  .composition__block {
    margin-bottom: 6px;
  }

  .composition__block button {
    font-size: 10px;
  }

  .composition__block a {
    font-size: 9px;
  }

  .item .composition {
    font-size: 9px;
    max-width: 140px;
  }

  .item .price {
    font-size: 11px;
  }

  .item .count__block {
    font-size: 21px;
  }

  .size__block a {
    font-size: 10px;
  }

  .price__minus {
    width: 13px;
    height: 13px;
  }

  .item .price__plus__img {
    width: 11px;
    height: 11px;
  }

  .item {
    padding: 15px 0;
  }

  .sugar__block__title {
    font-size: 10px;
  }
}
