.item {
  background-color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 20px 0;
  border-radius: 20px;
}

.item .image__wrapper {
  width: 160px;
  height: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item img {
  position: absolute;
  height: 100%;
}

.item .title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.item .composition {
  max-width: 250px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.item .price {
  display: inline-block;
  padding: 5px 10px;
  background: rgb(199, 202, 190);
  color: #000;
  border: 0;
  border-radius: 20px;
  transition: 0.5s all ease;
  user-select: none;
}

.item .price.active {
  background-color: rgb(146, 192, 57);
  color: #fff;
}

.item .price__minus {
  display: inline;
  cursor: pointer;
}
.item .price__plus {
  display: inline;
  cursor: pointer;
}

.item .total__count {
  display: inline;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.size__block {
  display: flex;
  justify-content: center;
}

.size__block a {
  transition: 0.5s all ease;
  display: inline-block;
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  margin-bottom: 10px;
}

.size__block a.double__size__1 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.size__block a.double__size__2 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.size__block a.triple__size__1 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.size__block a.triple__size__2 {
  border-radius: 0;
}

.size__block a.triple__size__3 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.size__block a:hover {
  background-color: green;
}

.size__block a.active {
  background-color: #000;
  color: #fff;
}
