.sirop__fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100lvh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.sirop__container {
  width: 100%;
  padding: 0 70px;
}

.container {
  width: 100%;
}

.sirop__block {
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  padding: 10px 20px;
  max-height: 450px;
  overflow-y: scroll;
  max-width: 500px;
  margin: 0 auto;
  animation: sirop-block 0.7s;
}

@keyframes sirop-block {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.sirop__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.sirop__item h3 {
  font-size: 15px;
  text-align: start;
  font-weight: 500;
}

@media (max-width: 450px) {
  .sirop__item h3 {
    font-size: 13px;
  }

  .sirop__container {
    padding: 0 50px;
  }
}

@media (max-width: 400px) {
  .sirop__item h3 {
    font-size: 11px;
  }
}
