* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(146, 192, 57);
}

a {
  text-decoration: none;
  color: #fff;
}

.toggle {
  color: var(--tg-theme-text-color);
}

.container {
  padding: 0 30px;
}

@keyframes card-button {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
