.itemlist {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  column-gap: 10px;
}

.itemlist a {
  text-decoration: none;
}

.itemlist .link__wrapper {
  display: flex;
  justify-content: center;
}
